

.letestWorkContainer{
    width: 100%;
    @include flex;
    padding: 42px 24px;


    .containerTitle{
        font-size: 32px;
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: 42px;
    }

    .workCardWrapper{
        width: 100%;
        @include flex;
        


        .workCard{
            margin: 24px;

            img{
                height: 330px;
                border-radius: 7px;
            }
            h3{
                font-weight: 700;
                line-height: 30px;
                font-size: 20px;
                margin-top: 15px;
            }
            h4{
                line-height: 27px;
                font-size: 17px;
                font-weight: 400;
            }
        }

    }

}











@media (max-width: 768px) {
    .letestWorkContainer{
        .workCardWrapper{
            .workCard{
                img{
                    height: 330px - 80px;
                    border-radius: 7px;
                }
            }
    
        }
    
    }
}