// @mixin flex( $justify: center, $align: center, $direction: row, ){
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: $direction;
//     justify-content: $justify;
//     align-items: $align;
//     }




.serviceContainer{
    width: 100%;


    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-wrap: wrap;


    @include flex(space-between);









    padding: (42px*2) 24px;

    .serviceBox{
        // padding: 64px 42px;
        text-align: center;
        // background-color: red;
        width: 400px;
        // margin: 0 auto;
        h4{
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 12px;
            margin-top: 42px;
        }

        p{
            font-size: 17px;
            line-height: 27px;
            width: 80%;
            margin: 0 auto;
        }
    }
}







@media (max-width: 768px) {

    .serviceContainer{
        .serviceBox{
            margin-bottom: 40px;
        }
    }
}